html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background: #ffffff;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


input, select, textarea, button {
  font-size: 1em;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -moz-appearance:none;
  -webkit-appearance: none;
}

input:invalid,
textarea:invalid{
  box-shadow: none;
}

table, tr, td, th {
  font-size: 1em;
}


a {
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}



img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  color: #333333;
  transition: all 0.3s;
  padding: 13px 18px;
  outline: none;

  &--blue{
    letter-spacing: 0.03em;
    background-color: #2F80ED;
    color: $main-white;
    border: 2px solid #2F80ED;


    &:hover{
      background-color: #2974D9;
    }

    &:focus{
      border: 2px solid rgba(47, 128, 237, 0.5);
    }

    &:active{
      background-color: #236ACB;
    }

    &:disabled,
    &[disabled]{
      background-color: #236ACB;
      border: 2px solid #236ACB;
      opacity: 0.6;
      cursor: default;
    }
  }

  &--gray{
    background-color: #E9E9E9;
    border: 2px solid #E9E9E9;

    &:hover{
      background-color: #DBDBDB;
      border: 2px solid #DBDBDB;
    }

    &:focus{
      border: 2px solid #DBDBDB;
      background: #E9E9E9;
    }

    &:active{
      background-color: #C4C4C4;
    }

    &:disabled,
    &[disabled]{
      background-color: #E9E9E9;
      opacity: 0.6;
      cursor: default;

      &:hover{
        background-color: #E9E9E9;
        border: 2px solid #E9E9E9;
        opacity: 0.6;
      }
    }
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  flex: 0 0 0;
}


@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"),
  url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"),
  url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
  url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"),
  url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Italic.woff2") format("woff2"),
  url("../fonts/Ubuntu-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}