.alert-block {
  background: rgba(251, 217, 44, 0.16);
  border-radius: 0px 4px 4px 0px;
  max-width: 30%;
  padding: 20px 0;
  position: relative;
  left: -100%;
  transition: left 0.7s;

  &--shown {
    left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(251, 217, 44, 0.16);
  }

  &::after {
    content: "";
    display: block;
    width: 19px;
    height: 17px;
    background-image: url("../images/alert-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 4.6%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.alert__title {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.15;
  margin: 0;
  margin-bottom: 12px;
}

.alert__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  margin: 0;
  max-width: 85%;
}