.info-section {
padding-bottom: 130px;
}

.info__form {
  padding-top: 20px;
}

.info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 20px;
}

.info__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -8px;
}

.info__col {
  float: left;
  flex: 0 0 auto;
  width: 33.3333%;
  padding: 8px;
  margin-bottom: 20px;
}

.info__label {
  display: block;
  position: relative;
  background: #F8F7FA;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;

  &::after{
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: 4px;
    right: 4px;
  }

  &--for-textarea{
    margin-bottom: 20px;

    &::after{
      display: none;
    }
  }

  &:hover{
    background-color: #F1F5F9;
  }

  &--has-error{
    background-color: $main-white;

    .info__input{
      border: 2px solid #F5BCBC;

      &:focus,
      &:active{
        border: 2px solid #F5BCBC;
      }
    }

    .info__input:active ~ .info__label-text,
    .info__input:focus ~ .info__label-text{
      color: #F64C4C;
    }

    .info__label-text{
      color: #F64C4C;
    }

   .info__error-message{
    display: block;
   }
  }
}

.info__error-message{
  display: none;
  background: #F5BCBC;
  border-radius: 0px 0px 2px 2px;
  font-weight:400;
  font-size: 11px;
  line-height: 1.8;
  color: #800404;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  z-index: -1;
  padding: 0 15px;
}

.info__label-text {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 11px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
}

.info__input {
  width: 100%;
  max-width: 100%;
  border: none;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 1.2;
  padding: 23px 12px 8px 12px;
  border-radius: 2px;
  border: 2px solid transparent;
  outline: none;

  &::placeholder{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.15;
    color: rgba(0, 0, 0, 0.5);
  }

  &:active,
  &:focus{
    outline: none;
    border: 2px solid rgba(47, 128, 237, 0.75);
  }
}

.info__input:active ~ .info__label-text,
.info__input:focus ~ .info__label-text{
    color: #2F80ED;
}

.info__textarea {
  display: block;
  resize: none;
  background: #F8F7FA;
  border-radius: 2px;
  width: 100%;
  height: auto;
  padding: 25px 12px 8px 12px;
  min-height: 122px;
  border-radius: 4px;
  border: none;
  text-decoration: underline rgba(0, 0, 0, 0.05);
  font-size: 14px;
  line-height: 1.18;
  color: #000000;
}

.info__radio-group{
  margin-bottom: 20px;
}


.info__check-input{
  display: none;
}

.info__check-label{
  padding-left: 25px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #182C40;

  &:hover{
    cursor: pointer;
  }
}

.info__checkbox{
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #333333;
  border-radius: 2px;
  position: absolute;
  top: -1px;
  left: 1px;
}

.info__check-input:checked ~.info__check-label .info__checkbox{
  border: 2px solid #3C8AFB;
  background-image: url("../images/check.svg");
  background-position: center;
}

.info__button-row{
 padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info__button-col{
  flex: 0 0 auto;

  .button:not(:last-child){
    margin-right: 20px;
  }
}