.profile-section{
  padding-top: 80px;
  margin-bottom: 35px;

}

.profile__heading-group{
  max-width: 99%;
}

.profile__title{
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.profile__description{
  margin: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.2;
  position: relative;

  &::before{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: #F19932;
    border-radius: 2px;
    position: absolute;
    top: 8px;
    left: -20px;
  }
}